<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
    <servlet-name>DeleteAccountServlet</servlet-name>
    <servlet-class>Servlets.DeleteAccountServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeParamServlet</servlet-name>
    <servlet-class>Servlets.ChangeParamServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SettingsInitServlet</servlet-name>
    <servlet-class>Servlets.SettingsInitServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowProfileServlet</servlet-name>
    <servlet-class>Servlets.ShowProfileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>Servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Servlets.LogInServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>Servlets.LogOutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddCommentServlet</servlet-name>
    <servlet-class>Servlets.AddCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SuppCommentServlet</servlet-name>
    <servlet-class>Servlets.SuppCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddFriendServlet</servlet-name>
    <servlet-class>Servlets.AddFriendServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelFriendServlet</servlet-name>
    <servlet-class>Servlets.DeleteFriendServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PasswordForgotServlet</servlet-name>
    <servlet-class>Servlets.PasswordForgotServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>Servlets.SearchServlet</servlet-class>
  </servlet>
  
  
    <servlet-mapping>
    <servlet-name>DeleteAccountServlet</servlet-name>
    <url-pattern>/end</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeParamServlet</servlet-name>
    <url-pattern>/settings/change</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SettingsInitServlet</servlet-name>
    <url-pattern>/settings/get</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowProfileServlet</servlet-name>
    <url-pattern>/profil/idUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PasswordForgotServlet</servlet-name>
    <url-pattern>/profil/forgot</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelFriendServlet</servlet-name>
    <url-pattern>/friend/del</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddFriendServlet</servlet-name>
    <url-pattern>/friend/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCommentServlet</servlet-name>
    <url-pattern>/session/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SuppCommentServlet</servlet-name>
    <url-pattern>/session/del</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/user/create</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/user/log</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/user/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>main.html</welcome-file>
    <welcome-file>main.jsp</welcome-file>
  </welcome-file-list>
</web-app>